# +++++++++++++++++++++++++++++++++++ #
# dufferzafar's flavor of the Cmder   #
# +++++++++++++++++++++++++++++++++++ #

# The directory structure:

# Bring back the executables (they are ignored in the global gitignore file)
*.exe
*.dll

# This folder will be injected to path at runtime
bin/

# Contains the history of commands.
config/.history

# Software from third parties + the cool 'init' script
vendor/

# ConEmu: The heart of Cmder
# Clink
# Portable Git
# GoW
# GnuWin32
# Putty
# Vim 7.4
