# +++++++++++++++++++++++++++++++++++ #
# dufferzafar's flavor of the Cmder   #
# +++++++++++++++++++++++++++++++++++ #

# Lines beginning with # are comments

# The directory structure:

# This folder will be injected to path at runtime
# bin/

# All config files are kept here.
# config/

# Contains the history of commands.
config/.history

# The valve icon is super cool
# icons/

# Software from third parties + the cool 'init' script
# vendor/

# Clink is used to give your console a bash-ish feel.
vendor/clink

# ConEmu
vendor/conemu-maximus5

# Portable Git
vendor/msysgit

# Oh my ssh!
vendor/putty

# Who needs cygwin...
vendor/gow

# Bring back the exes
# !*.exe
